* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    background-color: black;
    padding: 10px 40px 10px 70px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
}

ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main {
    flex: 1;
    font-size: 30px;
    font-weight: 700;
}

.items {
    padding: 0 25px;
    display: inline-flex;
}

.one {
    font-size: 18px;
    padding: 0 12px;
    cursor: pointer;
}

.one:hover {
    color: lightblue;
    transform: translateY(5px);
}

.searchbar {
    height: 30px;
    width: 240px;
    display: flex;
    background-color: rgb(223, 217, 217);
    border-radius: 5px;
}

.bar {
    height: 100%;
    width: 180px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    padding: 0 10px;
    color: black;
    font-size: 14px;
}

.btn {
    height: 100%;
    width: 80px;
    line-height: 29px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    color: black;
    text-transform: capitalize;
    font-size: 14px;
    border-left: 1px solid black;
    cursor: pointer;
}

.btn:hover {
    background: lightblue;
}

.homepage {
    background: teal;
    margin: 0;
}

.home {
    display: grid;
    grid-template-columns: repeat(2, 600px 1fr);
    align-items: center;
    margin-top: 40px;
}

.txt {
    margin-left: 60px;
    margin-bottom: 100px;
    text-align: center;
}

.txt h3 {
    font-size: 4rem;
    color: black;
}

.txt h1 {
    font-size: 9rem;
}

.txt h1.sec {
    font-size: 5.5rem;
    text-transform: uppercase;
    cursor: pointer;
}

.txt h1.sec:hover {
    color: chartreuse;
    transform: translateY(5px);
}

.cross:hover {
    color: chartreuse;
    text-decoration: line-through;
}

.ho:hover {
    color: chartreuse;
}

.img {
    width: 100%;
    height: 80vh;
    padding-bottom: 10rem;
    padding-left: 8rem;
}

.image {
    width: 50rem;
    height: 70vh;
}